<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  class="bg-orange-100 p-6 rounded-lg border border-orange-100 shadow-sm"
>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:title]} type="text" label="Title" required />
  <.input field={f[:content]} type="textarea" label="Content" required rows={10} />

  <:actions>
    <.button>Save Post</.button>
  </:actions>
</.simple_form>
