<.header>
  Post Details
  <:actions>
    <.link href={~p"/posts"}>
      <.button>Back to posts</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@post.title}</:item>
  <:item title="Author">{@post.user.display_name}</:item>
  <:item title="Posted">{Calendar.strftime(@post.inserted_at, "%d %b %Y, %H:%M")}</:item>
</.list>

<div class="mt-6 px-4 py-6 bg-white rounded-lg shadow">
  <div class="prose max-w-none">
    {@post.content}
  </div>
</div>
