1. run all mix commands with `toolbox run`, e.g. `toolbox run mix deps.get`
2. do not restart the phoenix server as it does it automatically when changes are detected
3. use mix phx.gen.schema to generate new schemas and database tables
